@model List<ResultBlogCategoryDto>
@{
    ViewData["Title"] = "Blog Kategorileri";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


@{
    int count = 0;
}
<table class="table table-hover">
<tr>
    <th>#</th>
    <th>Blog Kategori Adı</th>
    <th></th>
</tr>
@foreach(var item in Model) 
    {
        count++;
        <tr>
            <th>@count</th>
            <td>@item.Name</td>
            <td>
                <a asp-action="DeleteBlogCategory" asp-controller="BlogCategory" asp-area="Admin" asp-route-id="@item.BlogCategoryId" class="btn btn-outline-danger">Sil</a>
                <a asp-action="UpadateBlogCategory" asp-controller="BlogCategory" asp-area="Admin" asp-route-id="@item.BlogCategoryId" class="btn btn-outline-info">Güncelle</a>
            </td>
        </tr>
    }
</table>
<br />
<a asp-action="CreateBlogCategory" asp-controller="BlogCategory" asp-area="Admin" class="btn btn-outline-primary">Yeni Blog Kategori Ekle</a>

